@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

.navbar {
	margin-bottom: 0;
}


* {
	box-sizing: border-box;	
}

body {
	 margin: 0;
	 padding: 0;
	 text-align: left;
	 font-family: "Open Sans";
}



.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.row:after {
    clear: both;
}
 

/*Grid*/

 [class*='col-'] {
	float: left;
	Min-height: 1px;
	margin: 0;
	padding: 0px;

}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%; }
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.btn {
	border-radius: 0;
	margin-top: 25px;
	text-transform: uppercase;
}
.navbar,  .jumbotron {
	background-color: initial;
	color: white;
	border-top:  none;
	border-left:  none;
	border-right: none;
	
}

span {
	color: white;
}
a:hover {
	text-decoration: underline;	
}
header {
	background-image: url("http://lukasz341.cba.pl/projekt7.7/layer-34.jpg");
}

header h1 {
	text-transform: uppercase;
}

.fa {
	color: red;
	font-size: 60px;
	font-weight: normal;
	margin-top: 30px;
}

.features img {
	margin-top: 30px;	
}

.works {
	padding-top: 60px;
}

.img {
	position: relative;
	max-height: 350px;
	overflow:hidden;		
}
.works img {
	margin: 0;
	padding: 0;
	display: block;	
	min-width: 100%;
	min-height: 100%;

	border: 1px solid white;
}
.team {
	padding-top: 60px;	
}
.people {
	position: relative;
	max-height: 270px;
	overflow: hidden;
	padding-right: 20px;
}
.team img {
	margin: 0;
	padding: 0;
	display: block;	
	max-width: 100%;
	height: auto;	
}

.img1 {
	background-image: url("http://lukasz341.cba.pl/projekt7.7/layer-19.png");
	height: 70vh;
	background-size: cover;
	background-position: center;
}

.example-1 {
	background-color: blue;
	height: 70vh;
}

.example-2 {
	background-color: red;
	height: 70vh;
}

.example-3 {
	background-color: green;
	height: 70vh;
}

.example-4 {
	background-color: pink;
	height: 70vh;
}

.download {
	padding-bottom: 60px;	
}

.download h4 {
	margin-top: 50px;
	color: #2d3033;
	font-family: Raleway;
	font-size: 28px;
	font-weight: 300;
	line-height: 21px;
}

.download p {
	color: #2d3033;
	font-family: Raleway;
	font-size: 13px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
}

.footer1 {
	padding: 50px 10px;
	background-color: #3a3e64;	
}

.footer1 h4 {
	
	color: #ffffff;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.footer1 p {
	opacity: 0.5;
	color: #ffffff;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;	
}

.footer1 .col-4 {
	padding: 0 30px;	
}

.footer2 {
	padding-top: 30px;
	background-color: #313454;	
}

.footer2 p {
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;	
	color: #808080;
	font-family: Raleway;
}

.footer2 .y {
	color: #e84545;
	font-family: Webdings;
}